/* Slider */
.slider {
	overflow: hidden;
    margin-bottom: 20px;
    margin-top: 90px;
    
    &__slides {

    }

    &__single-slide {
        height: 600px;
        padding: 0 20px;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(tab-port) {
            height: 400px;
        }

        h2 {
            color: #fff;
            margin: 0 0 30px;
            font-size: 64px;
            text-shadow: 2px 2px rgba(0,0,0,0.4);
            text-align: center;
        }

        &--1 {
            background: url('../img/river.jpg') no-repeat center / cover;
        }

        &--2 {
            background: url('../img/mountain.jpg') no-repeat center / cover;
        }
        
        &--3 {
            background: url('../img/forest.jpg') no-repeat center / cover;
        }
    }
}



